.loading-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .loading-overlay .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative; /* Make spinner a relative container */
  }
  
  .loading-overlay .spinner.spinning {
    animation: spin 2s linear infinite;
  }

  .loading-overlay .spinner.success {
    border: 16px solid #008000; /* Change the color to green */
    animation: none; /* Remove the spinning animation */
  }
  
  .loading-overlay .spinner .success-message {
    position: absolute; /* To position the checkmark inside the spinner */
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 2em; /* Adjust the size as needed */
  }

  .loading-overlay .text {
    font-size: 1.5em;
    margin-top: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .table-auto {
    width: 100%;
    border-collapse: collapse;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .border {
    border: 2px solid black;
  }
  
  .timetable-header,
  .message {
    margin: 0 0 1rem;
  }
  
  .shaded {
    background-color: #e0e0e0;
  }
  
